@using DynamicControls
@model dynamic

@functions {

    private DynamicDataSource DataSourceDelegate(string name, Dictionary<string, string> additionalParameters)
    {
        DynamicDataSource result = new DynamicDataSource();
        if (name.Equals("select-field"))
        {
            result.Add("0", "Day");
            result.Add("1", "Week");
            result.Add("2", "Month");
            result.Add("3", "Year");
            result.Add(additionalParameters.First().Key, additionalParameters.First().Value);
        }
        else if (name.Equals("radio-list"))
        {
            result.Add("0", "New");
            result.Add("1", "Old");
        }
        return result;
    }
}

@{
    ViewBag.Title = "Dynamic Controls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dynamic Controls</h2>

@(Html.DynamicControls(File.ReadAllText(@"controls.json")).RegisterDataSourceDelegate(DataSourceDelegate, "dataSource"))

@section script
{
    <script src="~/Scripts/dynamic.js"></script>
    <script src="~/Scripts/dynamic.bootstrap.js"></script>
}
